#carouselSection {
  background-color: black;
}
#bannerImg {
  width: 100%;
}
#searchCourses {
  position: relative;
  top: -1em;
  right: -25em;
  width: 50%;
}

.input-group {
  border-radius: 0.2em;
}
.searchInput {
  width: 80%;
  border: none;
  border-radius: inherit;
  border: 2px dashed #e6b31e;
}
.searchInput:focus {
  outline: none;
  border: none;
}

.text-golden {
  color: #e6b31e;
}

#freeDemoStrip {
  background-color: #e6b31e;
}

.youtubeReviews {
  width: 30%;
}
.youtubeReviews iframe {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .youtubeReviews iframe {
    width: 100%;
    height: auto;
  }
  #searchCourses {
    right: -18em;
  }
}
@media screen and (max-width: 768px) {
  #searchCourses {
    right: -15em;
  }
  .youtubeReviews {
    width: 100%;
    height: auto;
  }
  .youtubeReviews iframe {
    width: 100%;
    height: auto;
  }
}
