.submitbtn {
  width: 20%;
}
.registerSection {
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../images/registerBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
@media only screen and (max-width: 1024px) {
  .registerSection {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url("../images/registerBGsmall.png");
    background-blend-mode: overlay;
  }
}
@media only screen and (max-width: 768px) {
  .submitbtn {
    width: 50%;
  }
}
