.card {
  width: 16em;
}

.card:hover {
  box-shadow: 0em 0em 0.5em 0em #343434;
}
.imgCourses {
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.1);
}
.StartLearningBtn,
.EnrollNowBtn {
  text-decoration: none;
  width: 100%;
  border: 1px solid #343434;
  color: #343434;
}
.StartLearningBtn:hover,
.EnrollNowBtn:hover {
  background-color: #343434;
  color: #fff;
}

.card-body {
  background: #cacaca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fcfaf1,
    #fcfaf1,
    #cacaca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fcfaf1,
    #fcfaf1,
    #cacaca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
