#footer {
  color: #343434;
  border-top: 1px solid #e6b31e;
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fff,
    #fff,
    #cacaca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fff,
    #fff,
    #cacaca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#brandImg {
  max-width: 25%;
  height: 100%;
}

.footerLinks {
  color: #343434;
  text-decoration: none;
}
.footerLinks:hover {
  color: #e6b31e;
  text-decoration: underline;
}
.footerIcons .bi {
  font-size: 2em;
}

@media screen and (max-width: 958px) {
  #brandImg {
    max-width: 100%;
    height: auto;
  }
}
