{% extends 'eduPlatform/base.html' %}

{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'eduPlatform/css/allFullCourse.css' %}">

{% endblock %}
{% block body %}
<style>
    .container .StartLearningBtn{
        margin-top: auto;
    }
    .StartLearningBtn{
        display:flex;
        justify-content:center;
    }
</style>
<section class="container my-5">
    <h1>All Full Courses</h1>
    <hr class="headingUnderline">
    <div class="d-flex flex-wrap justify-content-center">
        {% for course in courses %}
        <div class="card d-flex flex-column m-2">
            <a href="{% url 'fullcourseDetails' course.id course.title %}" class="imgCourses mx-auto">
                <img src="/media/{{course.thumbnail}}" class="card-img-top" alt="{{course.title}}_image">

                <div class="card-body pt-0">
                    <h5 class="card-title mt-3 mb-0">{{course.title|slice:":50"}}</h5>
                    <small class="m-0">Duration Of course: {{course.get_duration}} hrs</small>
                    <p class="card-text mb-1">{{course.description|slice:":125"}}...</p>
                    <div class="ratings d-flex">
                        {% if course.avgRating >= 1.0 %}
                        <i class="bi bi-star-fill checked"></i>
                        {% else %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}
                        {% if course.avgRating >= 2.0 %}
                        <i class="bi bi-star-fill checked"></i>
                        {% else %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}
                        {% if course.avgRating >= 3.0 %}
                        <i class="bi bi-star-fill checked"></i>
                        {% else %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}{% if course.avgRating >= 4.0 %}
                        <i class="bi bi-star-fill checked"></i>
                        {% else %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}{% if course.avgRating >= 5.0 %}
                        <i class="bi bi-star-fill checked"></i>
                        {% else %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}
                    </div>
                    <h5>
                        <small> Rs. </small>
                        {{course.fee}}/-
                        <small style="text-decoration: line-through;">{{course.high_price}}/- </small>
                    </h5>
                </div>
                <div class="mt-auto" style="margin:10px 10px">
                    {% if user.is_authenticated %}
                    {% if course in userCourses %}
                    <a href="{% url 'fullcourseDetails' course.id course.title %}"
                        class="StartLearningBtn px-2 py-1 rounded text-center">Start
                        Learning
                    </a>
                    {% else %}
                    <a href="{% url 'fullcourseDetails' course.id course.title %}"
                        class="StartLearningBtn px-2 py-1 rounded text-center">Enroll Now
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'fullcourseDetails' course.id course.title %}"
                        class="StartLearningBtn px-2 py-1 rounded text-center">Enroll Now
                    </a>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block scripts %}

{% endblock %}