{% extends 'eduPlatform/base.html' %}

{% load static %}

{% block links %}{% endblock %}

{% block body %}
<section class="my-5 container">
    <h1>Confirm Registration</h1>
    {% for message in messages %}
    <p>{{message}}</p>
    {%endfor%}
    <div>
        <p>Innovator's Studio contact you to confirm your registration within 24 Hours of registration.</p>
        <!-- <h5>Pay for the course using the following link:</h5>
        <p>Link</p>
        <small>Save this link for future reference and also we have have mailed you the details with the link. Please
            check your mail.
        </small>
        <p>
            After successful payment follow these steps to access the course:
        <ul>
            <li>
                Wait for some time to get your access to login. Waiting time should be about 3 hours during the office
                timing.
            </li>
            <li>
                Login to your account after about 3 hours with the username and password as set by you during the
                registration.
            </li>
            <li>
                After logging in you can access your dashboard where you can find all the courses in which you are
                enrolled.
            </li>
        </ul>
        </p>
        <h4>Thank you for choosing this course</h4>
        <h5>Enjoy Learning!!</h5> -->
    </div>

</section>
{% endblock %}

{% block scripts %}

{% endblock %}