{% extends 'eduPlatform/base.html' %}

{% load static %}
{% block links %}


{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
    .card {
        min-height: 170px;
        margin: 0;
        padding: 1.7rem 1.2rem;
        border: none;
        border-radius: 0;
        color: rgba(0, 0, 0, 1);
        letter-spacing: .05rem;
        box-shadow: 0 0 21px rgba(0, 0, 0, .27);
        margin-bottom: 10px;
        border-style: double;
        border-color: #e6b31e;
    }

    .register{
        color: black;
        background-color:white;
        font-family: 'Red Hat Display', sans-serif;
        border-style: dashed;
        border-color: #e6b31e;
        font-weight:300;
        border-width: 2px;
        border-radius: 5%;
        padding: 10px 10px;
        
    }

    .register:hover{
        color:white;
        border: none;
        background-color: black;
        
    }
    .card .image{
        transition: 0.5s ease-in-out;
    }

    .card:hover .image {
        transform: scale(1.1);
    }

    @media only screen and (max-width: 750px) {
        .register{
            justify-content: Center;
            margin-bottom:15px;
            padding: 5px 100px;
        }
    }

</style>
<h1>Events</h1>
<hr class="headingUnderline">
<div class="container card">
    {% for event in events %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{event.title}}</h3>
            <h5><i class="fas fa-calendar"></i> {{event.date}}</h5>
            <h5><i class="fas fa-microphone"></i> {{event.speaker}}</h5>
            <p>
                {{event.description|slice:":200"}}.....
            </p>

            <a href="{% url 'eventsdetailed' event.id event.title %}"><button class="register">Know More</button></a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'eventsdetailed' event.id event.title %}"><img src="/media/{{event.thumbnail}}/" alt="event thumbnail" class="img-fluid image"></a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'eduPlatform/js/event.js' %}"></script>
{% endblock %}