{% load static %}
<style>
    .bi-facebook{
        transition: 0.3s ease-in-out;
    }
    .bi-facebook:hover{
        color:#4267B2;
    }
    .bi-twitter{
        transition: 0.3s ease-in-out;
    }
    .bi-twitter:hover{
        color:#1DA1F2;
    }
    .bi-linkedin{
        transition: 0.3s ease-in-out;
    }
    .bi-linkedin:hover{
        color:#2867B2;
    }
    .bi-youtube{
        transition: 0.3s ease-in-out;
    }
    .bi-youtube:hover{
        color:#FF0000;
    }
    .bi-instagram{
        transition: 0.3s ease-in-out;
    }
    .bi-instagram:hover{
        color:#bc2a8d;
    }
</style>
<section id="footer" class="py-5">
    <div class="d-lg-flex justify-content-around container">
        <img src="{% static 'eduPlatform/images/brandLogo.png' %}" alt="BrandLogo" id="brandImg"
            class="my-3 my-lg-0 mx-lg-3">
        <div>
            <p>
                Innovator’s Studio Platform has been designed to provide you Embedded System & IoT based courses.
                You can learn theoretical knowledge by introducing practical world of Embedded System & IoT
                Technology.
            </p>
            <p class="d-none d-xl-block">
                We start with basic concepts & continue to advanced levels. In a nutshell, a secured digital
                platform connecting students & Industry Experts together to help you to become creative & innovative in
                the field. We will lead you not only to learn but also to be the leader in the field of Embedded System
                & IoT.
            </p>
        </div>
    </div>
    <div class="d-lg-flex justify-content-around container mb-5">
        <div class="my-3 mx-3">
            <a href="{% url 'home' %}" class="footerLinks">
                <h4 class="pb-3"><strong> Innovator's Studio</strong></h4>
            </a>
            <div>
                <a href="{% url 'aboutUs' %}" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>About
                    Us</a>
            </div>
            <div>
                <a href="{% url 'livesessions' %}" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Live
                    Sessions</a>
            </div>
            <div>
                <a href="{% url 'events' %}" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Events</a>
            </div>
            <div>
                <a href="https://www.oytechnology.com/careers" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Career</a>
            </div>
            <div>
                <a href="{% url 'terms' %}" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Terms & conditions</a>
            </div>
            <div>
                <a href="{% url 'policy' %}" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Policies</a>
            </div>
        </div>
        <div class="my-3 mx-3">
            <a href="{% url 'allFullcourses' %}" class="footerLinks my-3">
                <h4 class="pb-3"><strong> Package Courses <sub><small><i class="bi bi-box-arrow-in-up-right"></i>
                            </small></sub></strong>
                </h4>
            </a>
            <div>
                <a href="/fullcourse/5/IoT%20(Internet%20of%20Things)/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>Internet of Things</a>
            </div>
            <div>
                <a href="/fullcourse/9/Embedded%20System%20&%20%20Robotics/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>Embedded System & Robotics</a>
            </div>
            <div>
                <a href="/fullcourse/7/Machine%20Learning%20with%20Python/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>Machine Learning with Python</a>
            </div>
            <div>
                <a href="/fullcourse/6/PCB%20Desigining/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>PCB Designing</a>
            </div>
            <div>
                <a href="/fullcourse/8/Web%20Development/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>Web Development</a>
            </div>

        </div>
        <div class="my-3 mx-3">
            <a href="{% url 'allMinicourses' %}" class="footerLinks">
                <h4 class="pb-3"><strong>Courses <sub><small><i
                                    class="bi bi-box-arrow-in-up-right"></i></small></sub></strong> </h4>
            </a>
            <div>
                <a href="/course/14/C%20Programming/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>C Programming</a>
            </div>
            <div>
                <a href="/course/15/C++%20Programming/" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>C++ Programming</a>
            </div>
            <div>
                <a href="/course/8/Python%20Programming/" class="footerLinks"><i
                        class="bi bi-arrow-right-short me-1"></i>Python Programming</a>
            </div>
            <div>
                <a href="/course/11/Core%20Java/" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Core Java</a>
            </div>
            <div>
                <a href="/course/10/Advanced%20Java/" class="footerLinks"><i class="bi bi-arrow-right-short me-1"></i>Advanced Java</a>
            </div>
            <!--  -->
        </div>
        <div class="my-3 mx-3">
            <h4 class="pb-3"><strong> Connect</strong></h4>
            <div>
                <a href="{% url 'contactus' %}" class="footerLinks">Contact Us</a>
            </div>
            <div>
                <a href="" class="footerLinks">Help Center</a>
            </div>
            <div class="footerIcons">
                <a href="https://www.facebook.com/Innovators-Studio-106039228323965" class="footerLinks mx-3"><i
                        class="bi bi-facebook" style="font-size:25px"></i></a>
                <a href="https://twitter.com/InnovatorsStud3" class="footerLinks mx-3"><i class="bi bi-twitter" style="font-size:25px"></i></a>
                <a href="https://www.linkedin.com/in/innovator-s-studio-5a2958206/" class="footerLinks mx-3"><i
                        class="bi bi-linkedin" style="font-size:25px"></i></a>
                <a href="https://www.youtube.com/channel/UCTo7bf_v4B1rGCG9GE3MTVg" class="footerLinks mx-3"><i
                        class="bi bi-youtube" style="font-size:25px"></i></a>
                <a href="https://www.instagram.com/innovators.studio/" class="footerLinks mx-3"><i
                        class="bi bi-instagram" style="font-size:25px"></i></a>
            </div>

        </div>

    </div>
    <hr>
</section>
