{% load static %}
<nav class="my-0 py-3 shadow mainNav sticky-top">
    <div class="container-lg d-lg-flex justify-content-between align-items-center px-0">
        <div class="d-flex justify-content-between px-3" id="brand-logo-div">
            <a href="{% url 'home' %}">
                <img src="{% static 'eduPlatform/images/brandLogo.png' %}" alt="BrandLogo" id="brand-logo">
            </a>
            <div class="hamburger d-lg-none">
                <span class="hamburgerUp d-none"><i class="bi bi-chevron-double-up"></i></span>
                <span class="hamburgerList"><i class="bi bi-justify"></i></span>
            </div>
        </div>
        <ul class="d-none d-lg-flex navItem my-0 p-0 text-center">
            <li class="mx-lg-3 "><a href="{% url 'home' %}" class="navLink px-xl-2 py-lg-1 py-0">Home</a></li>
            <li class="mx-lg-3 "><a href="{% url 'aboutUs' %}" class="navLink px-xl-2 py-lg-1 py-0">About Us</a></li>
            <li class="mx-lg-3 dropdownItem"><a href="#" class="navLink px-xl-2 py-lg-1 py-0">Courses <i
                        class="bi bi-chevron-compact-down p-2"></i></a>
                <ul class="dropdownBox-1 mx-0 p-0">
                    <div class="d-flex justify-content-around">
                        <li class="dropdownList my-2 px-3 text-start ">
                            <a href="{% url 'allFullcourses' %}" class="dropdownLink p-1">Package Courses</a>
                            <hr class="m-0">
                            <div class="d-flex flex-column">
                                <ul class="px-2 text-start coursesMenu">
                                    <li>
                                        <a href="/fullcourse/5/IoT%20(Internet%20of%20Things)/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Internet of Things
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/fullcourse/9/Embedded%20System%20&%20%20Robotics/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Embedded System & Robotics
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/fullcourse/7/Machine%20Learning%20with%20Python/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Machine Learning with Python
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/fullcourse/6/PCB%20Desigining/"
                                            class="dropdownLink d-flex justify-content-between">
                                            PCB Designing
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/fullcourse/8/Web%20Development/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Web Development
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>
                                    </li>
                                    <li class="text-end pt-2"><a href="{% url 'allFullcourses' %}"
                                            class="dropdownLink">MORE
                                            COURSES...</a>

                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li class="dropdownList my-2 px-3 text-start ">
                            <a href="{% url 'allMinicourses' %}" class="dropdownLink p-1">Single Courses</a>
                            <hr class="m-0">
                            <div>
                                <ul class="px-2 text-start coursesMenu">
                                    <li>
                                        <a href="/course/14/C%20Programming/"
                                            class="dropdownLink d-flex justify-content-between">
                                            C Programming
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>

                                    </li>
                                    <li><a href="/course/15/C++%20Programming/"
                                            class="dropdownLink d-flex justify-content-between">
                                            C++ Programming
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>

                                    </li>
                                    <li><a href="/course/8/Python%20Programming/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Python Programming
                                            <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li><a href="/course/11/Core%20Java/"
                                            class="dropdownLink d-flex justify-content-between">Core Java
                                            <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li><a href="/course/10/Advanced%20Java/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Advanced Java
                                        <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li class="text-end pt-2"><a href="{% url 'allMinicourses' %}"
                                            class="dropdownLink">MORE
                                            COURSES...</a>

                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdownList my-2 px-3 text-start ">
                            <a href="{% url 'allPDPcourses' %}" class="dropdownLink p-1">PDP Courses</a>
                            <hr class="m-0">
                            <div>
                                <ul class="px-2 text-start coursesMenu">
                                    <li>
                                        <a href="/pdpcourse/8/Business%20Writing%20or%20Written%20Communication/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Written Communication
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>

                                    </li>
                                    <li><a href="/pdpcourse/11/Building%20Self%20Confidence%20and%20Personal%20Self-image/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Build Self-Confidence
                                            <i class="bi bi-arrow-right-short ps-3"></i>
                                        </a>

                                    </li>
                                    <li><a href="/pdpcourse/9/Art%20of%20Networking%20&%20Interpersonal%20Skills/"
                                            class="dropdownLink d-flex justify-content-between">
                                            The Art of Networking
                                            <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li><a href="/pdpcourse/7/Effective%20and%20Assertive%20Communication/"
                                            class="dropdownLink d-flex justify-content-between">Effective Communication
                                            <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li><a href="/pdpcourse/12/English%20Fluency/"
                                            class="dropdownLink d-flex justify-content-between">
                                            Interview Preparation
                                        <i class="bi bi-arrow-right-short ps-3"></i></a>

                                    </li>
                                    <li class="text-end pt-2"><a href="{% url 'allPDPcourses' %}"
                                            class="dropdownLink">MORE
                                            COURSES...</a>

                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                </ul>
            </li>

            <li class="mx-lg-3 "><a href="{% url 'livesessions' %}" class="navLink px-xl-2 py-lg-1 py-0">Live
                    Sessions</a>
            </li>
            <li class="mx-lg-3 "><a href="{% url 'events' %}" class="navLink px-xl-2 py-lg-1 py-0">Events</a>
            </li>
            <li class="mx-lg-3 "><a href="{% url 'blogs' %}" class="navLink px-xl-2 py-lg-1 py-0">Blogs</a></li>
            <hr class="d-lg-none">
            {% if user.is_authenticated %}
            <li class="d-lg-none mx-lg-3 "><a href="{% url 'dashboard' user.username user.id %}"
                    class="navLink px-xl-2 py-lg-1 py-0">{{user.first_name}}</a></li>
            <li class="d-lg-none mx-lg-3 "><a href="{% url 'logout' %}" class="navLink px-xl-2 py-lg-1 py-0">Logout</a>
            </li>
            {% else %}
            <li class="d-lg-none mx-lg-3 "><a href="{% url 'login' %}"
                    class="navLink px-xl-2 py-lg-1 py-0 login">LogIn</a>
            </li>
            <li class="d-lg-none mx-lg-3 "><a href="{% url 'signup' %}"
                    class="navLink px-xl-2 py-lg-1 py-0 login">SignUp</a></li>

            {% endif %}
        </ul>
        <ul class="d-none d-lg-flex navItem my-0 p-0 text-center">
            {% if user.is_authenticated %}
            <li class="mx-lg-3 "><a href="{% url 'dashboard' user.username user.id %}"
                    class="navLink px-xl-2 py-lg-1 py-0">{{user.first_name}}</a></li>
            <li class="mx-lg-3 "><a href="{% url 'logout' %}" class="navLink px-xl-2 py-lg-1 py-0">Logout</a></li>
            {% else %}
            <li class="mx-lg-3 "><a href="{% url 'login' %}" class="navLink px-xl-2 py-lg-1 py-0 login">LogIn</a></li>
            <li class="mx-lg-3 "><a href="{% url 'signup' %}" class="navLink px-xl-2 py-lg-1 py-0 login">SignUp</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
