<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title></title>
</head>
<body>
<div class="container-fluid">
		<img src="{% static 'eduPlatform/images/3.jpg' %}">
		<h1 class="text-center my-3">Refund Policies</h1>
		<p>We assure you to deliver a great learning experience with the simplest available resources. Classroom and Online mode of learning can be availed at The Innovator’s Studio.</p>
		<p>At the time of online purchase, there are terms and conditions that govern the Refund Policy. After you buy a training course at The Innovator’s Studio, you conform to our Privacy Policy, Terms of Use and Refund policy. Refund policy below:</p>
		<p class="font-weight-bold">* Online Training For Online Courses:</p>
		<p>Request for refund should be raised within 7 days of purchase. Money-back guarantee is void if the participant has accessed quite 20% of the content or downloaded the course content or details. Requests raised after 7 days of purchase won't be considered for refund.</p>
		<p class="font-weight-bold">* Cancellation & Refunds:</p>
		<p>Classroom Training The Innovator’s Studio, reserves the right to reschedule/cancel an event, or change the placement of the event due to insufficient enrolments, instructor illness or act of God events (like floods, pandemic, earthquakes, political instability, etc.)</p>
		<p> In case The Innovator’s Studio cancels an event, 100% after all fees are refunded to the candidate if the refund raise request is within 10 days of purchase after all. However travel, logistics or any personal expenses incurred by candidate won't be refunded.</p>
		<p> In case The Innovator’s Studio cancels/reschedules an event, the participants who have purchased the course 10 days before the training, are rescheduled to any upcoming classroom batch with none extra charges and just in case they are doing not prefer classroom training they'll be provided relevant online courses.</p>
		<p> If a cancellation is completed by a candidate 10 working days (or more) before the event, 15% of the entire paid fee are deducted and also the remaining amount are refunded to the candidate.</p>
		<p> If a cancellation is completed by a candidate within 10 working days (or less) of the event, no refunds are initiated.</p>
		<p>No refunds are available for participants who fail to attend both days of the course.</p>
		<p>Refund request is initiated in two ways</p>
		<p>From My Registration section, by clicking on “Initiate Refund” against specific training.</p>
		<p> In case training module is more than one, please contact us on the e-mail and contact nos. provided on our website.</p>
		<p class="font-weight-bold">* Refunds:</p>
		<p> Duplicate payment Refund of the duplicate payment made by a candidate are processed via the identical method of payment in 10 working days post intimation by the customer. The Innovator’s Studio reserves the right to revise the terms & conditions of this policy with no prior notice.</p>
		<p>* Note: All refunds are processed within 10 working days after the refund request is approved by The Innovator’s Studio.
</p>
	</div>
</body>
</html>
