{% extends 'eduPlatform/base.html' %}

{% load static %}

{% block links %}
{% endblock %}

{% block body %}
<style>
    body{
        font-family: 'Roboto', sans-serif;;
    }
</style>
<div class="container-fluid">
    <img src="{% static 'eduPlatform/images/1.jpg' %}">
    <h1 class="text-center my-3">Terms & Conditions</h1>
    <p class="font-weight-bold">1.Enter into an agreement</p>
    <p>1.1 All the training, certification and services delivered by “The Innovator’s Studio” are abided by general
        terms & Condition.</p>
    <p>1.2 Terms and conditions of business of those receiving training or taking a certification examination or
        services (lately referred to as participant) do not apply, even if not explicitly stated by The Innovator’s
        Studio. The terms and conditions presented in this document also apply if The Innovator’s Studio purposely
        renders services due that are in conflict with the participant’s terms and conditions of business.
    </p>
    <p>1.3 Interested Participants must register in advance to take part in The Innovator’s Studio trainings or
        certification exams or services. To register candidate need to fill out a form, either by hand or online, that
        is provided by The Innovator’s Studio. Participants also need to choose the training course he/she intents to
        receive or the respective certification exam at the time of registration.</p>
    <p> 1.4 The contract will only come into effect once the participant has confirmed the quote in writing and “The
        Innovator’s Studio” submits a written notation of the selected services to the participant.
        1.5 Clicking on the “SIGNUP” / '‘REGISTER” option, the participant ("Your" or "You") agrees to the Terms and
        Conditions, obligations, representations, warranties, and agreements contained herein (the "Agreement").
        However, if you are not willing to accept the Agreement, You shall not be allowed or authorized to proceed
        further to view or use in any manner any content, information, courseware, products and services ("Services")
        published, available or provided on www.theiotacademy.co (the "Website"), which is owned, maintained and
        monitored by The Innovator’s Studio ("Us", "We" or "Our").</p>
    <p class="font-weight-bold"> 2.User ID and Password</p>
    <p>By accepting Agreement, You declare and agree that Your credentials ("Participant Account") is for Your exclusive
        use only. In the event of Using or sharing of Your Participant Account is not allowed and results in restriction
        of your permission to access Services, the Website and the Content, the Courseware, and termination of this
        Agreement.</p>
    <p>By accepting Agreement, You consent that You are solely responsible for maintaining the privacy of Your
        Participant Account and for all activities that occur under it. You agree to immediately notify our Help and
        Support Team if you become aware of or have reason to believe that your Participant Account is compromised. You
        will also agree to take all reasonable precautions to stop such unauthorized access and to cooperate with Us in
        any investigation of such unauthorized uses. We shall not under any circumstances be held liable for any claims
        related to the use or misuse of Your Participant Account due to the activities of any third party outside of our
        control or due to Your failure to maintain the privacy and security of Your Participant Account.</p>
    <p class="font-weight-bold">3. Conducting training</p>
    <p>3.1 The Innovator’s Studio is responsible for training or for contracting a third party to conduct training and
        has a right to choose any consultant for such services. The Innovator’s Studio is authorized to transfer the
        duties mentioned in the contract to a third-party consultant/freelancer to deliver or to modify the contents of
        training sessions as long as the objective of the training remains the same. The Innovator’s Studio may change
        the date or time of training, or cancel training, or change the training location with advance notice.</p>
    <p>3.2 According to training schedule and the current training documents, “The Innovator’s Studio” will make every
        possible effort to provide all relevant knowledge during training sessions.</p>
    <p>3.3 The Innovator’s Studio will conduct training on its own location, or at another mutually agreed upon
        location. Training is to be conducted during the dates specified by The Innovator’s Studio in the quote and
        confirmed by the participant.</p>
    <p>3.4 If training takes place on The Innovator’s Studio premises, The Innovator’s Studio will provide each
        participant with a desk and the necessary documents. Participants are responsible for incidental expenses
        (accommodation, additional meals, travel etc.).</p>
    <p>3.5 “The Innovator’s Studio” will issue training certificate after completion of the training.</p>
    <p class="font-weight-bold">4. Content and Courseware</p>
    <p>4.1 As a part of our Services offered through our Website, We shall grant you access to our courseware, content,
        practice tests, and other information, data, and documents which may be in video, audio, written, graphic,
        recorded, photographic, or any machine-readable format in relation to the specific certification training course
        You have registered for ("Content and Courseware").</p>
    <p class="font-weight-bold">5. Usage of the Website and Services</p>
    <p>5.1 Till the completion of your course, you will be able to access restricted, personal, non-transferable and
        revocable license to use the Services, the website, the content and courseware you enrolled for or agreement is
        terminated according to the Terms and Conditions set forth herein, whichever is earlier.</p>
    <p>5.2 Applicant will only use Services, Content and Courseware that are provided solely for your personal and
        non-profit use to assist you in completing the training course You have registered for ("Restricted Purpose").
    </p>
    <p>5.3 You are given right to online access to the Services, the Website, and the Courseware and content and may
        save, download, or print the Courseware and Content solely for the Restricted Purpose.</p>
    <p>5.4 You are not permitted to transmit, reproduce, distribute, sub-license, broadcast, disseminate, or prepare
        derivative works of the Content and Courseware, or any part thereof, in any manner or through any data
        communication channels or means, for any purpose other than the Restricted Purpose, without Our prior written
        consent.</p>
    <p class="font-weight-bold">6. Intellectual Property Rights</p>
    <p>As You are given a limited and non-exclusive right to use the Services, the Website, and the Courseware and
        Content for the Restricted Purpose as stated in this Agreement, You have acknowledged and agreed that We are the
        solely and exclusively owner of the Website, the Services and the Content and Courseware and as such are vested
        with all copyrights and other proprietary rights in the Website, the Services, and the Content and Courseware.
    </p>
    <p>You consent and agree that this Agreement other than permitting You to use the Website, the Services, and the
        Content and Courseware for the Restricted Purpose does not authorize You in claiming any right, authority,
        interest or title of an Ownership, or any other nature in the Website, the Services, and the Content and
        Courseware.</p>
    <p class="font-weight-bold">7. Usage of Personal Information of Participants</p>
    <p>We as “The Innovator’s Studio” reserve the right to present Your picture in any videos, photos, or other
        promotional material used by Us. Applicant Personal information can be used by us to inform You about other
        training courses offered by Us. However, We shall not distribute or share Your personal information with any
        third party marketing agency or disclose Your personal information to any third party except on a case-to-case
        basis after proper verification of such third party or if required under any applicable law.</p>
    <p class="font-weight-bold">8. Limitation of Liability</p>
    <p>As stated in Contract / Agreement use of,</p>
    <p>a) Services,</p>
    <p>b) Website,</p>
    <p>c) Courseware and Content</p>
    <p>are at Your own risk. We shall not be responsible for any issue / error encountered during access to the Services
        or the Website or access to the Content and Courseware; nor is there any assurance as to the output that may be
        obtained from using of the Website, the Services or the Content and Courseware or authenticity or correctness of
        any data provided through the Website, the Services, or the Content and Courseware. In no event will We or any
        person or entity involved in creating, producing, or distributing the Website, the Services, or the Content and
        Courseware, be liable for any loss resulting of direct, indirect, incidental, special, or consequential use of
        or inability to use the Website, the Services, or the Content and Courseware. The disclaimer of liability
        contained in this clause applies to any and all damages or injury caused by any failure of performance, error,
        omission, interruption, deletion, defect, delay in transmission or operation, communication computer virus, line
        failure, theft or destruction or unauthorized access or, to amend records, whether for breach of an agreement or
        under any other reason of action. You hereby specifically acknowledge that We are not liable for any offensive,
        defamatory, wrongful, or illegal conduct of third parties, or other users of the Website, the Services or the
        Courseware and the Content and that the risk of loss or injury involved from the preceding rests entirely with
        each user.
        You acknowledge or agree that Our liability or the liability of Our affiliates, directors, officers, employees,
        agents, and licensors, if any, arising out of any kind of legal claim (whether in contract or undertaking or
        elsewhere) in any way connected with the Content or the Services and Courseware shouldn't exceed the fee you
        paid to Us for the particular training course.</p>
    <p class="font-weight-bold">9. Term and Termination</p>
    <p>This Agreement will become effective upon Your acceptance of the terms of this Agreement by Your clicking on the
        "I ACCEPT" button and, subject to the terms and conditions of this Agreement / Contract, will remain in effect
        till the time You maintain a current, fully paid up online Participant Account, or until terminated by Us,
        whichever is earlier.
        We reserve the right to terminate this Agreement and block Your access to the Content and Courseware with
        immediate effect by sending a written notice through email to You to this effect ("Immediate Termination Date"),
        if such termination is made as a result of Your misconduct, default, misrepresentation, or breach of Your
        obligations related to or under this Agreement ("Event of Default"). On the occurrence of any Event of Default,
        We shall be authorized to exercise every measures and rights under this Agreement or applicable Law or available
        in equity to seek indemnification for any Loss or Claim resulting from any such Event of Default.</p>
    <p class="font-weight-bold">10. Indemnity</p>
    <p>You agree to indemnify and hold Us, Our contractors, licensors, directors, officers, employees, and agents,
        harmless from and against any and all claims, losses, damages, liabilities, and expenses including attorneys'
        charges, coming out of Your unauthorized use of the Services, the Website, and the Content and Courseware or any
        violation or breach of this Agreement or any provisions hereof.</p>
    <p class="font-weight-bold">11. Severability</p>
    <p>In the event any provision of this Agreement is held unenforceable or invalid under the applicable laws of India,
        the remaining provisions shall continue in full force and effect, and the Agreement shall be deemed to be
        reformed by replacing such invalidated or unenforceable provision with a enforceable and valid provision that
        gives effect as closely as possible to the intentions of the parties as expressed by the invalidated or
        unenforceable provision</p>
    <p class="font-weight-bold">12. Governing Law and Jurisdiction</p>
    <p>For Participants who are a resident of the INDIA, this Agreement shall be governed and reviewed in accordance
        with the Laws of INDIA and Any situation related to, or arising out of, this Agreement shall be governed by the
        courts in INDIA.
        For Non-resident Participants of the INDIA, this Agreement shall be governed by and construed in accordance with
        the Laws of India and the courts in India, Any situation related to, or arising out of, this Agreement shall be
        governed by the courts in INDIA</p>
    <p class="font-weight-bold">13. Amendment and Assignment</p>
    <p>We reserve the right to independently modify or amend this Agreement without giving any prior notification to
        You. However, once uploaded, updated agreement can be checked on our website.
        Accordingly, it is Your sole responsibility to check the Website regularly for any revisions, modifications, and
        amendments. Your continued use of or access to the Website, the Services, and Courseware and the Content
        following to the publish of any updation to this Agreement shall constitute acceptance of those changes. You are
        not permitted to assign this Agreement or the rights and obligations mentioned in this Agreement or Contract to
        any party other than You and any breach of this Agreement or any terms and conditions hereof, you will be held
        responsible</p>
    <p class="font-weight-bold">14. Entire Agreement</p>
    <p>This Agreement, along with the Refund Policy, Privacy Policy, Rescheduling Policy, Terms of Use, and any
        additional guidelines, rules, and/or disclaimers posted on the Website constitutes the entire agreement
        governing Your accessing our website any prior agreements, if any, relating to any matter dealt within this
        Agreement.</p>
</div>

{% endblock %}